@-moz-document domain("render.githubusercontent.com"), domain("raw.githubusercontent.com"), regexp("^https?://((gist|guides|help|raw|status|developer).)?github.com((?!generated_pages/preview).)*$") {

/* 
 * Github Gotham Theme
 * Author: nullx002 <nullx002@gmail.com>
 * URL: https://github.com/nullx002/github-gotham-theme
 * Version: 0.1
*/


/* Sitewide Global HTML */

body {
    background-color: #0c1014 !important;
    color: #d3ebe9;
}

a {
    color: #99d1ce !important;
    text-decoration: none;
}    
    
p {
    color: #4e5166 !important;
}
      

h3, h4 {
    color: #d3ebe9 !important;
}


/* Class Global */

.lead {
    color: #929292;
}


/* Main Site and New User */

.site-header {
    background-color: #11151c !important;
}

.site-header-nav .nav-item {
    color: #d3ebe9 !important;
}

.jumbotron-home {
    background-image: none;
    background-color: #1a2632;
}

.features-list .list-divider,
.setup-form .tos-info,
.setup-form .setup-organization-next {
    border-color: #304251;
}

.radio-label {
    border-color: #304251;
}

.tag-input-tag {
    background: #243447;
}

.tag-input-tag .remove {
    background: #1a2632;
}

.home-hero-signup .form-control-lg {
    border-color: #304251;
}

.shade-gray {
    background-color: #121b23 !important;
}

.tile-block {
    border-color: #304251;
}

.tile-bordered:not(:last-child) {
    border-color: #304251;
}


/* Main Site Login */

.session-authentication {
    background-color: #1a2632;
}

.session-authentication .header-logo {
    color: #fff;
}

.session-authentication .auth-form-body {
    border-color: #304251;
}

.auth-form-body {
    background-color: #1a2632;
}

.session-authentication .create-account-callout {
    border-color: #304251;
}

.session-authentication .auth-form-header {
    color: #fff;
}


/* Site Wide Global */

.header {
    background-color: #11151c !important;
    border-color: #99d1ce !important;
}

.header-logo-invertocat {
    color: #99d1ce;
}

.header-search-scope {
    border-color: #245361;
}

.header-nav-link {
    color: #99d1ce;
}


/*.scoped-search .form-control .header-search-scope {
    background-color: #1a2632;
    border-color: #304251;
}*/

.form-control,
.form-select {
    color: #fff;
    background-color: #151f29;
    border-color: #304251;
}

.form-control.focus,
.form-control:focus,
.form-select.focus,
.form-select:focus {
    box-shadow: none;
}

.form-group .form-control:focus {
    background-color: #151f29;
}

.btn {
    color: #99d1ce !important;
    background-color: #0c1014 !important;
    background-image: none;
    border-color: #33859e !important;
}

.btn:hover,
.btn:active,
.btn.zeroclipboard-is-hover,
.btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #091f2e !important;
    background-image: none;
    border-color: #33859e !important;;
}

.btn:active,
.btn.selected,
.btn.zeroclipboard-is-active {
    background-color: #0c1014 !important;
    background-image: none;
    border-color: #33859e !important;
}

.btn-primary {
    color: #d3ebe9;
    background-color: #2aa889;
    background-image: none;
    border-color: #2aa889;
}

.btn-theme-green {
    background-color: #6cc644;
}

.site-footer {
    border-color: #304251;
}

.dropdown-menu {
    background-color: #11151c !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-divider {
    background-color: #304251;
}

.dropdown-item {
    color: #9e9e9e;
}

.dropdown-item:hover {
    background-color: #243447;
}

button.dropdown-item.dropdown-signout {
    color: #df3e3e;
}


/* Site Related */

.setup-header {
    border-color: #304251;
}


/* Home */

.news .alert {
    border-color: #304251;
}

.news .alert .octicon {
    color: #8899a6;
}

.news .alert .branch-link,
.news .alert .pull-info {
    color: #151f29;
    background: #627790;
}

.ajax-pagination-form .ajax-pagination-d {
    background: #babdcb;
}

.boxed-group>h3,
.boxed-group .heading {
    color: #99d1ce;
    background-color: #091f2e !important;
    border-color: #33859e;
}

.boxed-group-inner {
    background: #11151c !important;
    border: 1px solid #33859e;
}

.notifications .read.navigation-focus {
    background-color: #091f2e !important;
} 

.notifications .list-group-item {
    border-radius: 0px !important;        
}    
    
.mini-repo-list-item {
    border-color: #304251;
}

.mini-repo-list-item .repo-icon {
    color: #8899a6;
}

.private .mini-repo-list-item {
    background-color: #243447;
}

.private .mini-repo-list-item .repo-icon {
    color: #fff9c4;
}

.filter-bar {
    background-color: #1a2632;
    border-bottom: 1px solid #304251;
}

.boxed-group .counter {
    color: #fff;
    background-color: #1a2632;
    border: 1px #304251 solid;
}

.subscribe-feed {
    color: #6d6d72;
}

.protip-callout {
    border-color: #304251;
}

.octofication .broadcast-icon-mask {
    background-color: #1a2632;
}

.link-gray-dark {
    color: #edb443 !important;
}

.link-gray-dark:hover {
    color: #d26937 !important;
}
    
.more-repos {
    text-align: center;
    background-color: #243447;
    box-shadow: none;
    border-top: 1px solid #304251;
}


/* New Repo */

.outline-box-highlighted {
    background-color: #1a2632;
    border-color: #304251;
}

.outline-box {
    border: solid 1px #304251;
}

.copyable-terminal {
    background-color: #151f29;
}

.reponame-suggestion {
    color: #4caf50;
}


/* Repo Page (Main) */

.repohead.experiment-repo-nav {
    background-color: #11151c !important;
}

.pagehead {
    border-color: #33859e !important;
}

.pagehead h1 a {
    color: #edb443 !important;
}    
    
.repository-meta {
    color: #99d1ce !important;
}

.social-count {
    color: #607d8b;
    background-color: #151f29;
    border: 1px solid #304251;
    border-left: 0;
}

.user-mention,
.team-mention {
    color: #00aba5;
}

.reponav-item {
    color: #9e9e9e;
}

.reponav-item:hover,
.reponav-item:focus {
    color: #fff;
}

.counter {
    background-color: #151f29;
    border: 1px #304251 solid;
}

.reponav-item .counter {
    color: #f9f9f9;
}

.reponav-item.selected {
    color: #d3ebe9 !important;;
    background-color: #0c1014 !important;;
    border-color: #d28e5d #304251 transparent;
}

.btn.selected:hover {
    background-color: #151f29;
}

.overall-summary {
    border-color: #304251;
}

.text-emphasized {
    color: #fff;
}

.numbers-summary a,
.numbers-summary .nolink {
    color: #969ab0;
}

.repository-lang-stats-graph {
    border-color: #304251;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .language-color {
    border: 1px #304251 solid;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
    color: #fff;
}


table.files tr.js-navigation-item {
    background-color: #11151c !important;        
} 
    
table.files {
    background: #11151c !important;
}

table.files tr.navigation-focus td {
    background: #091f2e !important;
}

table.files td {
    border-color: #304251;
}

table.files td.icon {
    color: #fff;
}

.warning {
    padding: 0.5em;
    margin-bottom: 0.8em;
    font-weight: bold;
    background-color: #d26937 !important;
}

.file-wrap {
    border-color: #33859e;
}

.commit-author-section {
    color: #ccc;
}

.commit-tease {
    color: #888ca6 !important;
    background-color: #091f2e !important;
    border-color: #33959e;
}

.commits-list-item .commit-author {
    color: #00aba5;
}

.commit-tease-sha {
    color: #4e5166 !important;
}

.commit-tease-contributors {
    background-color: #11151c !important;
    border-color: #33959e;
}

.commit .commit-title a {
    color: #4078c0;
}

.branch-infobar {
    background-color: #1a2632;
    border-color: #3e5570;
}

.full-commit {
    background: #1a2632;
    border: 1px solid #304251;
}

.full-commit p.commit-title {
    color: #00aba5;
}

.full-commit .commit-meta {
    background: #243447;
    border-color: #304251;
}

.full-commit .sha-block {
    color: #fff;
}

.full-commit .sha-block>.sha {
    color: #9e9e9e;
}

.full-commit .btn-outline,
.full-commit .btn-outline:disabled {
    border-color: #304251;
}

.commits-list-item.navigation-focus {
    background: #151f29;
}

.file-navigation .get-repo-btn {
    border-color: #304251;
}

.file-navigation .get-repo-btn:first-child {
    border-color: #304251;
}

.signed-commit-badge {
    border-color: #304251;
}

.signed-commit-signer-name .signer {
    display: block;
    font-weight: bold;
    color: #00aba5;
}

.flex-table-item-primary {
    color: #fff;
}

span.d-block {
    color: #fff;
}

.signed-commit-header {
    background-color: #243447;
    border-color: #304251;
}


/* Repo Blame */

.blame-commit-title,
.blame-commit-title .message {
    color: #4078c0;
}

.blame-commit,
.blame-commit+.blame-line {
    border-color: #304251;
}

.blame-blob-num {
    background-color: #243447;
}

.muted-link {
    color: #888ca6 !important
}

.muted-link:hover {
    color: #2aa889 !important
}    

/* README Markdown Live */

.readme .markdown-body,
.readme .plain {
    background-color: #11151c !important;
    border-color: #304251;
}

.markdown-body .highlight pre,
.markdown-body pre {
    background-color: #091f2e !important;
    border: 1px #599cab solid;
    border-radius: 0px !important;
}

.markdown-body h1 {
    border-color: #33859e !important;
    color: #888ca6 !important;
}

.markdown-body img {
    background-color: #151f29;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: #fff;
}

.markdown-body table tr {
    background-color: #1a2632;
}

.markdown-body table th,
.markdown-body table td {
    border-color: #304251;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #243447;
}

.markdown-body pre code,
.markdown-body pre tt {
    color: #969ab0;
}

.markdown-body code,
.markdown-body tt {
    color: #11151c !important;
    background-color: #888ca6 !important;
    border-radius: 0px !important;
}

.blob-num {
    color: #5e6b77;
    border-color: #304251;
}

.blob-code-inner {
    color: #6d6d72;
}

.blob-code-hunk,
.blob-code-expandable {
    background-color: #0c1014 !important;
}

.blob-num-hunk,
.blob-num-expandable {
    background-color: #0c1014 !important;
}

.blob-num-expandable {
    background-color: #0c1014 !important;
}

.ace_editor .ace_gutter-active-line {
    background-color: #243447;
}

.ace_editor .ace_marker-layer .ace_active-line {
    background-color: #243447;
}


/* Code syntax Highlighting */

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
    color: #4078c0;
}

.pl-s .pl-s1,
.pl-smi {
    color: #bbb;
}

.pl-k {
    color: #b73999;
}

.ace_string {
    color: #4670d8;
}

.ace_support.ace_type {
    color: #b73999;
}

.ace_keyword {
    color: #8485ce;
}

.ace_variable {
    color: #d28e5d;
}

.ace_focus {
    background-color: #000;
}

.ace_markup.ace_heading {
    color: #4670d8;
}


/* Markdown Standalone */

.markdown-body h2 {
    border-color: #33859e !important;
    color: #888ca6 !important;    
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
    border-color: #33859e !important;
    color: #99d1ce !important;    
}
    
.markdown-body hr {
    background-color: #33859e !important;
}

.markdown-body blockquote {
    border-color: #33859e !important;
}


/* Repo Code Tab Live | Markdown */

.file {
    background-color: #11151c !important;
    border-color: #33859e;
}

.file-header {
    background-color: #091f2e !important;
    border-color: #33859e;
}

.file .image {
    background-color: #11151c !important;
}    
    
.breadcrumb strong.final-path {
    color: #929292;
}

.ace_gutter {
    background: #1a2632;
    border-color: #304251;
}

.ace-github-light {
    color: #9e9e9e;
    background-color: #1a2632;
}

.file-commit-form .commit-form {
    border-color: #304251;
}

.commit-sha {
    background-color: inherit;
    border-color: #304251;
}


/* Repo | Issues Tab */

.table-list-header {
    background-color: #11151c !important;
    border-color: #33859e;
}

.table-list-header .btn-link {
    color: #edb443 !important;
    background-color: #11151c !important;        
}
    
.table-list-header .btn-link:hover {
    color: #edb443 !important;      
}    
    
.Box-body-row--highlight .Box-row-link {
    color: #00aba5;
}

.Box-body-row {
    border-top: 1px solid #304251;
}

.Box-body-row--highlight.navigation-focus,
.Box-body-row--highlight:hover {
    background-color: #11151c !important;
}

.issues-listing .table-list-issues .navigation-focus {
    background-color: #0c1014 !important;
}

.table-list {
    border-color: #33859e;
}

.table-list-cell {
    border-top-color: #33859e;
}

.table-list-bordered .table-list-cell:first-child {
    border-left-color: #33859e;
}

.table-list-bordered .table-list-cell:last-child {
    border-right-color: #33859e;
}

.table-list-header-toggle .btn-link {
    color: #9e9e9e;
}

.table-list-header-toggle .btn-link:hover {
    color: #fff;
}

.table-list-header-toggle .btn-link.selected,
.table-list-header-toggle .btn-link.selected:hover {
    color: #fff;
}

.issue-title-link {
    color: #00aba5;
}

.protip {
    color: #6d6d72;
}

.milestone-title-link a {
    color: #cecece;
}

.Box-body {
    border-color: #33859e;
}

.Box-row {
    border-top: 1px solid #99d1ce !important;
}    

    
/* Dropdown Menu */

.select-menu-modal {
    background-color: #11151c !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.select-menu-header {
    background: #11151c !important;
    border-color: none !important;
    border-radius: 0px !important;
}

.select-menu-header .select-menu-title {
    color: #99d1ce !important;
    text-shadow: none;
}

.select-menu-item {
    background-color: #11151c !important;
    border-color: #33859e;
}

.select-menu-item.selected {
    color: #99d1ce !important;
    background-color: #2aa889 !important;
}

.select-menu-filters {
    background-color: #1a2632;
}

.select-menu-text-filter:first-child:last-child {
    border-color: #33859e;
    background-color: #091f2e !important;
}

.select-menu-text-filter input {
    border-color: #304251;
    background-color: #11151c !important;
}

    
.select-menu-item.navigation-focus, .select-menu-item.navigation-focus.selected, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus .description-inline {
    background-color: #599cab !important;
    color: #0c1014 !important;
}    

/* Repo | Pull Request Tab */

.border-left,
.border-right,
.border-bottom {
    border-color: #11151c !important;
}

.pr-toolbar.is-stuck::after {
    border-color: #304251;
    box-shadow: none;
}


/* Repo Issues & Pull Request Convo */

.gh-header-edit .edit-issue-title,
.gh-header-edit .edit-issue-title:focus {
    background-color: #151f29;
}

.gh-header-meta {
    border-color: #304251;
}

.gh-header-meta .author {
    color: #00aba5;
}

.commit-ref {
    color: #11151c !important;
    background-color: #599cab !important;
    border-radius: 0px !important;
}

.commit-ref .user {
    color: #11151c !important;
}

.tabnav-tab.selected {
    background-color: #1a2632;
}

.tabnav-pr .tabnav-tab.selected {
    color: #fff;
    border-color: #304251;
}

.tabnav-pr {
    border-color: #304251;
}

.timeline-comment-wrapper {
    border: 0;
    
}

.timeline-comment-header {
    background-color: #11151c !important;
    border-color: #304251;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.timeline-comment-header .author {
    color: #00aba5;
}

.timeline-comment {
    background-color: #11151c !important;
    border-color: #304251;
    border-radius: 0px !important;
    border: 0px !important;
}

.timeline-comment-wrapper>.timeline-comment::before,
.timeline-new-comment .timeline-comment::before {
    border-right-color: #304251;
}

timeline-comment::before {
    border-right-color: #243447 !important;
}

.timeline-comment::after {
    border-right-color: #243447 !important;
}

.timeline-comment.current-user .timeline-comment-header {
    background-color: #243447;
    border-color: #304251;
}

.timeline-comment.current-user {
    border-color: #304251;
}

.timeline-comment.current-user .timeline-comment-label {
    border-color: #304251;
}

.timeline-comment-wrapper .timeline-comment.current-user::before {
    border-width: 8px;
    border-right-color: #304251;
}

.timeline-comment-label {
    border-color: #304251;
}

.comment-reactions.has-reactions {
    border-color: #304251;
}

.reaction-summary-item {
    border-color: #304251;
}

.timeline-commits .commit-message>code a {
    color: #8485ce;
}

.discussion-timeline::before {
    width: 1px;
    background-color: #304251;
}

.discussion-timeline-actions {
    background-color: #11151c;
    border: 0;
}

.discussion-item-ref-title .title-link {
    color: #8485ce;
}

.discussion-item-entity {
    color: #4078c0;
}

.discussion-item+.discussion-item {
    border-color: #304251;
}

.discussion-sidebar-item+.discussion-sidebar-item {
    border-color: #304251;
}

.discussion-item-icon {
    color: #8899a6;
    background-color: #243447;
    border-color: #304251;
}

.discussion-item+.discussion-item-review {
    border-color: #304251;
}

.discussion-item-review .file-header {
    background-color: #1a2632;
    border-color: #304251;
}

.discussion-item-review+.discussion-item {
    border-top: 1px solid #304251;
}

.discussion-item-review .blob-wrapper {
    border-color: #304251;
}

.review-comment-contents::after,
.review-comment.is-comment-editing::after {
    background-color: #304251;
}

.previewable-comment-form .write-content, .previewable-comment-form .preview-content {
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: #0c1014 !important;
    color: 99d1ce !important;
}    
    
.previewable-comment-form textarea {
    background-color: #11151c !important;
    color: #99d1ce !important;
}       

.tabnav-tabs {
    background-color: #0c1014 !important;    
}    
    
.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
    background: #0c1014 !important;
    border: none !important;
}

.new-discussion-timeline .previewable-comment-form .comment-body {
    border-color: transparent;
}

.new-discussion-timeline .closed-banner {
    background: #304251;
    border-bottom: 18px solid #11151c;
}

.suggester {
    background: #243447;
    border-color: #304251;
}

.suggester li {
    border-color: #304251;
}

.tabnav {
    border-color: #304251;
}

.tabnav-tab.selected {
    color: #fff;
    border-color: #304251;
}

.previewable-comment-form textarea {
    background-color: #1a2632;
}

.input-contrast:focus {
    background: #151f29;
}

.upload-enabled textarea {
    border-color: #304251;
}

.drag-and-drop {
    background-color: #0c1014 !important;;
    border: none !important;
}

.commit-icon .octicon {
    background-color: #1a2632;
}

.issues-listing .table-list-issues .navigation-focus {
    background-color: #151f29;
}

.branch-action-state-clean .branch-action-body::after {
    border-right-color: #6cc644;
}

.branch-action-state-unstable .branch-action-body::after {
    border-right-color: #cea61b;
}

.branch-action-body {
    background-color: #1a2632;
}

.branch-action-body .merge-message,
.branch-action-body .merge-branch-form {
    background-color: #243447;
    border-top: solid 1px #304251;
}

.branch-action-state-merged .branch-action-body {
    border: none !important;
}

.merge-status-list {
    border-color: #304251;
}

.merge-status-item {
    background-color: #243447;
    border-color: #304251;
}

.branch-group-heading {
    background: #243447;
    border-color: #304251;
}

.branch-action-item+.branch-action-item {
    border-color: #304251;
}

.status-heading {
    color: #607d8b;
}


/* Site | Issue Tab */

.Box-row--focus-gray.navigation-focus {
    background-color: #11151c !important;
}

.Box-row:first-of-type {
    border-color: #33859e;
}

.Box-row {
    border: 2px solid #11151c !important;
}

a.Box-row-link.h4.js-navigation-open {
    color: #4078c0;
}


/* Code Tab | Branches */

.branch-summary,
.branch-group-heading+.branch-summary,
.branch-summary {
    border-color: #304251;
}

.branch-a-b-count .meter {
    background-color: #243447;
}

.branch-a-b-count .count-half:last-child {
    border-color: #304251;
}

.count-value.count-behind {
    color: #dc3c3c;
}

.count-value.count-ahead {
    color: #52bd58;
}

a.branch-name {
    color: inherit;
}

.table-of-contents li+li {
    border-color: #304251;
}

.commit-desc+.commit-branches {
    border-color: #304251;
}


/* File Changed | Compare | Reviews */

.diffbar {
    background-color: #1a2632;
}

.diff-table tr:not(:last-child) .line-comments {
    border-color: #304251;
}

.pr-toolbar {
    background-color: #1a2632;
}

.range-editor {
    background-color: #11151c !important;
    border-color: #33859e;
    border-radius: 0px !important;
}

.compare-pr-placeholder {
    background-color: #1a2632;
    border-color: #cea61b;
}

ul.comparison-list {
    background: #1a2632;
    border-color: #304251;
}

ul.comparison-list>li.title {
    color: #9e9e9e;
    background: #243447;
}

ul.comparison-list>li {
    border-color: #304251;
}

.file-diff-split .empty-cell {
    background-color: #0c1014 !important;
    border-right-color: #33859e;
}

.feature-callout-octicon {
    border-color: #304251;
}

.feature-callout {
    border-color: #304251;
}

.review-thread {
    border-color: #304251;
}

.review-thread-reply {
    background-color: #243447;
    border-color: #304251;
}

.review-thread-reply .inline-comment-form {
    background-color: #1a2632;
}

.review-comment .reaction-summary-item:not(.add-reaction-btn) {
    border-color: #304251;
}

.last-review-thread {
    border-color: #304251;
}

.inline-comment-form {
    border-color: #304251;
}


/* Release & Tags */

.release-timeline {
    border-color: #304251;
    border-width: 1px;
}

.release-body {
    border-color: #304251;
    border-width: 1px;
}

.releases-tag-list {
    border-color: #304251;
}

.releases-tag-list tr {
    border-color: #304251;
}

.release-show {
    border-color: #304251;
}

.tabnav-extra {
    padding-right: 15px;
    color: #9e9e9e;
}

.tag-info h3 a .tag-name {
    color: #4078c0;
}

.release-downloads {
    border-color: #304251;
}

.release-downloads li {
    border-color: #304251;
}


/* Commits Tab */

.commit-group-title .octicon-git-commit {
    margin-right: 17px;
    color: #304251;
    background: #1a2632;
}

.commits-listing::before {
    background-color: #304251;
}


/* Nav */

.subnav-item {
    border-color: #304251;
}

.subnav-item:hover,
.subnav-item:focus {
    background-color: #151f29;
}


/* Repo Wiki Tab */

.blankslate {
    background-color: #151f29;
    border-color: #304251;
    box-shadow: none;
}

.wiki-wrapper .wiki-auxiliary-content {
    background: #243447;
}

.wiki-rightbar .boxed-group.collapsed>h3 {
    border-color: #304251;
}

.wiki-wrapper .wiki-auxiliary-content-no-bg {
    background: #1a2632;
}

.wiki-wrapper .wiki-custom-sidebar {
    border-color: #304251;
}


/* Repo Project Tab */

.border {
    border-color: #304251 !important;
}

.bg-gray {
    background-color: #1a2632 !important;
}

.project-header {
    background-color: #1a2632;
}

.project-columns {
    background-color: #1a2632;
}

.bg-white {
    background-color: #243447 !important;
}

.bg-gray-light {
    background-color: #1a2632 !important;
}


/* Repo Pulse Tab */

.pulse-graph:first-child {
    border-color: #304251;
}

.pulse-graph {
    border-bottom-color: #304251;
}

.conversation-list-heading .inner {
    background: #1a2632;
}

.conversation-list-heading {
    border-color: #304251;
}

.simple-conversation-list>li {
    border-color: #304251;
}

.summary-stats li {
    border-left-color: #304251;
}

.summary-stats li .num {
    color: #969ab0;
}

.summary-stats li a:hover {
    background: #151f29;
}

.diffstat-summary strong {
    color: #84aaf7;
}

.axis line {
    stroke: #304251;
}

.subhead {
    border: 0;
}


/* Repo Graph | Contributors */

.tint-box {
    background: #1a2632;
}

.capped-card {
    border-color: #304251;
}

.capped-card-content {
    background: #1a2632;
}

.graphs .area {
    fill: #00aba5;
}

.capped-card h3 {
    border-color: #304251;
}


/* Repo Graph | Punch Card */

.day-name {
    fill: #8899a6;
}

circle.day {
    fill: #969ab0;
    stroke-width: 0;
}

:not(img) text,
circle.day {
    fill: #969ab0;
}

line.axis {
    stroke: #304251;
}

line.axis.even {
    stroke: #304251;
}

:not(img) text,
circle.day {
    fill: #8899a6;
}


/* Repo Graph | Traffic */

table.capped-list td {
    ;
    border-color: #304251;
}

table.capped-list th {
    border-color: #304251;
}

table.capped-list tr:nth-child(even) {
    background-color: #243447;
}


/* Repo Graph | Code Frequency */

.code-frequency .addition {
    fill: #52bd58;
}

.code-frequency .deletion {
    fill: #dc3c3c;
}

.cadd {
    font-weight: bold;
    color: #52bd58;
}

.cdel {
    font-weight: bold;
    color: #dc3c3c;
}

.graphs .dir {
    color: #9e9e9e;
}


/* Repo Settings Tab */

.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #1a2632;
    border: 1px solid #304251;
    border-radius: 3px;
}

.menu-item {
    text-shadow: none;
    border-bottom: 1px solid #304251;
}

.menu-item:hover {
    background-color: #151f29;
}

.menu-item.selected {
    color: #fff;
    background-color: #151f29;
}

.form-group .form-control {
    background-color: #151f29;
}

hr,
.rule {
    border-bottom: 1px solid #304251;
}

.boxed-group.dangerzone>h3 {
    text-shadow: none;
    border-color: #df3e3e;
}

.integrations-callout-standalone .integration-settings-callout {
    border-color: #304251;
}


/* Profile */

.border-top {
    border-color: #304251 !important;
}

.profilecols .filter-bar {
    background-color: #1a2632;
}

.pinned-repo-list-item {
    border-color: #304251;
}

.pinned-repo-filters {
    border-color: #304251;
}

.user-profile-nav {
    background-color: #11151c !important;
    border-color: #0c1014 !important;
}

.border-gray-dark {
    border-color: #0c1014 !important;
}

.underline-nav-item.selected {
    color: #99d1ce !important;
    border-bottom-color: #2aa889 !important;
}

.user-profile-sticky-bar::after {
    background-color: #11151c !important;
    border: none !important;
}

.underline-nav-item:hover {
    color: #607d8b;
}

.profile-timeline-card-wrapper {
    border: 0;
}

.profile-timeline.discussion-timeline::before {
    left: 11px;
    background-color: #304251;
}

.profile-timeline.discussion-timeline .profile-timeline-month-heading::after {
    background-color: #304251;
}

.profile-rollup-wrapper+.profile-rollup-wrapper {
    border-color: #304251;
}


/* Profile | Contribution */

#contributions-calendar rect[fill="#eeeeee"] {
    fill: #151f29;
}


/* Profile | Repo Tab */

.profilecols .filter-bar .filter-selected {
    color: #8485ce;
}


/* Notification */

.list-group-item.navigation-focus {
    background-color: #151f29;
}

.list-group-item-link {
    color: #fdfdfd;
}

.boxed-group-list>li {
    border-color: #304251;
}

.flash {
    color: white;
    background-color: #364952;
    border-color: #4c85a0;
}


/* Organisation */

.org-name {
    color: #fff;
}

.orghead {
    background-color: #151f29;
    border-color: #304251;
}

.simple-box {
    background-color: #1a2632;
    border-color: #304251;
}

.org-module-link {
    color: #00aba5;
}

.member-username {
    color: #00aba5;
}

.org-link {
    color: #00aba5;
}

.subnav-bordered {
    border-color: #304251;
}

.org-module-title {
    border-color: #304251;
}

.member-row {
    border-color: #304251;
}

.pagehead-tabs-item.selected {
    color: #fff;
    background-color: #1a2632;
    border-color: #d26911 #304251 transparent;
}


/* Create Organisation */

.setup-header {
    text-shadow: none;
}

.steps {
    border-color: #304251;
}

.steps li {
    background-color: #1a2632;
    border-color: #304251;
}

.steps li.current {
    color: #9e9e9e;
    background-color: #243447;
}

.setup-info-module {
    background-color: #1a2632;
    border-color: #304251;
    box-shadow: none;
}

.setup-info-module h2 {
    border-color: #304251;
}

.plan-choice.open,
.plan-choice.selected {
    background-color: #1a2632;
}

.plan-choice {
    background-color: #1a2632;
    border-color: #304251;
}


/* Personal Settings (Global) */

.menu-heading {
    color: #fff;
    background-color: #243447;
    border-color: #304251;
}

.listgroup {
    border-color: #304251;
}

.listgroup-item+.listgroup-item {
    border-color: #304251;
}

.oauth-border {
    border-color: #304251;
}

.saved-reply-form {
    border-color: #304251;
}

.user-key-badge {
    border-color: #304251;
}

dl.new-email-form {
    border-color: #304251;
}

.Subhead {
    border-color: #304251;
}


/* Settings | Security */

li.session-device.session-current,
li.session-device {
    background-color: #1a2632;
}

.mute,
.text-gray-dark {
    color: #aeaeae !important;
}

.boxed-group-list>li:first-child {
    border-color: #304251;
}

.boxed-group-inner .help {
    border-color: #304251;
}

.auth-form-header {
    background-color: #243447;
    border-color: #304251;
}


/* Settings | Billing */

.billing-section {
    border-color: #304251;
}

.billing-section .section-content {
    color: #9e9e9e;
}

.radio-label {
    color: #666;
}


/* Modal */

.facebox-popup {
    background-color: #1a2632;
    border: 1px solid #304251;
}

.facebox-alert {
    color: #a9a495;
    background-color: #35342c;
    border-color: #6b5c20;
}

.facebox-header {
    border-color: #304251;
}

.facebox-footer {
    margin: 0 -15px -15;
    background: #243447;
}

.facebox-footer {
    background: #243447;
    border-color: #304251;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #243447;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C4C4C4;
}

::-webkit-scrollbar-track {
    background-color: #1a2632;
}


/* Search Results */

.repo-list-item {
    border-color: #304251;
}

.codesearch-results .repo-list-name em,
.codesearch-results .repo-list-description em {
    background-color: #243447;
}

.participation-graph rect {
    fill: #243447;
}

.code-list .file-box {
    border-color: #304251;
}

.code-list .code-list-item+.code-list-item {
    border-color: #304251;
}

.code-list .language {
    color: #9e9e9e;
}

.codesearch-aside .menu .octicon {
    color: #8899a6;
}

.codesearch-aside .filter-list {
    border-color: #304251;
}

.codesearch-aside .filter-list li span.bar {
    background: #243447;
}

.filter-item {
    background-color: #0c1014 !important;        
    }    
    
.filter-item:hover {
    background-color: #11151c !important;
}

.filter-item.selected {
    background-color: #2aa889 !important;    
}    
    
.contributions-setting .contributions-setting-link {
    background: #2aa889 none repeat scroll 0 0 !important;
    color: #d3ebe9 !important;
    display: block;
    font-size: 14px;
    padding: 5px;
}
    
    
    

/* Helper */

.timeline-commits .hidden-text-expander .ellipsis-expander {
    color: #8899a6;
    background: #243447;
}

.hidden-text-expander a,
.ellipsis-expander {
    color: #8899a6;
    background: #243447;
}


/* Experimental | Enchancement */


/* Blob Minus */

.blob-num-deletion {
    background-color: #ef9a9a;
}

.blob-code-deletion {
    background-color: #0c1014 !important;
    text-decoration: line-through;
    color: #ef9a9a;
}


/* Blob Plus */

.blob-num-addition {
    background-color: #a5d6a7;
}

.blob-code-addition {
    background-color: #0c1014 !important;
}

.blob-expanded .blob-num, .blob-expanded .blob-code {
    background-color: #0c1014 !important;
}
       
/* End of Experimental */


/* GitHub Gists */

.header-logo-wordmark {
    color: #fff;
}

.gist-snippet-meta .description {
    color: #6d6d72;
}


/* Rework Buttons | Icons */

.ajax-pagination-form .ajax-pagination-btn {
    color: #9e9e9e;
    background: #243447;
    border-color: #304251;
}

.ajax-pagination-form .ajax-pagination-btn:hover {
    background-color: #151f29;
}

.btn-outline:disabled,
.btn-outline:disabled:hover,
.btn-outline.disabled,
.btn-outline.disabled:hover {
    border-color: #304251;
}

.btn-octicon {
    color: #8899a6;
}

.toolbar-item {
    color: #8899a6;
}

.toolbar-item .menu-target {
    color: #8899a6;
}

.timeline-comment-actions {
    color: #8899a6;
}

.discussion-sidebar-toggle .octicon {
    color: #8899a6;
}


/* Github Pricing */

.shade-gradient {
    background-image: none;
}

.display-heading-1,
.display-heading-2,
.display-heading-3,
.display-heading-4 {
    color: #fff;
}

.bg-white {
    background-color: #11151c !important;
}

.pricing-card {
    background-color: #1a2632;
    border-color: #304251;
    box-shadow: none;
}

.pricing-card-vertical .pricing-card-name {
    border-color: #304251;
}

.pricing-card-vertical .pricing-card-cta {
    border-color: #304251;
}


/* GitHub Explore */

.sort-bar {
    border-color: #304251;
}

.pagehead-nav-item {
    color: #00aba5;
}

.pagehead-nav-item:hover {
    color: #8485ce;
}

.pagehead-nav-item.selected {
    color: #8485ce;
    border-color: #d28e5d;
}

.pagehead.explore-head {
    border-bottom-color: #304251;
}

.exploregrid-item-title {
    color: #fff;
}

.exploregrid-item {
    color: #969ab0;
    border-color: #304251;
    box-shadow: none;
}

.thread-subscription-status {
    background-color: #1a2632;
    border: 1px solid #304251;
}

.explore-section {
    border-color: #304251;
}

.explore-section:nth-child(even) {
    background: #243447;
}

.explore-collection h2 {
    color: #fff;
}

.repo-collection>ul {
    background: #151f29;
    border-color: #304251;
}

.showcase-page-header {
    border-color: #304251;
}

.showcase-page-repo-list {
    border-color: #304251;
}

.showcase-page-pattern::after {
    background: none #1a2632;
}

.intgrs-lstng-item {
    border-color: #304251;
}


/* GitHub Blog */

.blog-title {
    color: #fff;
}


/* Octotree Addon */

.octotree_github_sidebar {
    background-color: #1a2632;
    color: #fff;
}

.octotree_github_sidebar .octotree_views .octotree_view .octotree_view_header {
    background-color: #1a2632;
    border-bottom: 1px solid #304251;
    background-image: none;
}

.octotree_views .octotree_view .octotree_view_header {
    text-shadow: none;
}

.octotree_github_sidebar input,
.octotree_github_sidebar textarea {
    background-color: #151f29;
    border: 1px solid #304251;
    padding: 2px;
    color: #fff;
}

.octotree_github_sidebar .octotree_views .octotree_treeview .jstree-default .jstree-wholerow-clicked {
    background-color: #243447;
}

.octotree_github_sidebar .octotree_views .octotree_treeview .jstree-default .jstree-wholerow-hovered {
    background-color: #243447;
}

.octotree_sidebar {
    border-color: #304251;
}

.octotree_github_sidebar a.octotree_toggle > span::after,
.octotree_github_sidebar a.octotree_opts {
    -webkit-filter: invert(1);
    filter: invert(1);
}


/* End */



    
/****** Custom by NULL ******/    
    
/* remove unwanted borders */    
.vcard-details, .vcard-stats, .boxed-group > h3, .boxed-group .heading, .mini-repo-list-item, .boxed-group-inner, .contrib-column-first, .contrib-column, .site-footer, .conversation-list-heading, .btn, .select-menu-item, .header, .tabnav-tab.selected, .news .alert, .filter-bar, .form-control, .form-select, .blankslate, hr, .rule, .menu, .menu-item.selected, .menu-item, .menu-heading, .boxed-group-inner .help, .billing-section, .boxed-group-list > li:first-child, .dashboard-notice, .table-list-header, .table-list-bordered .table-list-cell, .table-list, dl.new-email-form, .subnav-item.selected, .subnav-item.selected:hover, .subnav-item.selected:focus, a.js-selected-navigation-item, .repohead.experiment-repo-nav, .file, .overall-summary, .repository-lang-stats-graph, .branch-infobar, .commit-tease, tr.js-navigation-item, .file-wrap, tr.js-navigation-item td, .readme .markdown-body, .readme .plain, .markdown-body blockquote, h2, h1, .subhead, .pulse-graph:first-child, .capped-card, .social-count, .header-search-scope, .protip-callout, .repo-list-item, .summary-stats li, .pulse-graph, .capped-card h3, .traffic-graph-stats, table.capped-list th, table.capped-list td, .commit-tease-contributors, .blob-num, .file-header, .file .image img, .file .image canvas, .file .image .border-wrap, .subnav-item, .branch-group-heading, .branch-summary:last-child, .no-results-message, .gh-header-meta, .wiki-wrapper .wiki-custom-sidebar, .flash, .filter-item, .dropdown-menu, .dropdown-menu-sw {
  border: none !important;
  border-radius: 0px !important;
}      


.blob-code-inner {
    color: #d3ebe9 !important;
    font-family: "Inconsolata" !important;
    font-size: 16px !important;
}    

.btn-link {
    display: block !important;
    color: #0c1014 !important;
    background-color: #edb443 !important;
    text-decoration: none !important;
    padding: 4px !important;
}   
    
.btn-link:hover {
    color: #11151c !important;
}      
    
.topic-tag {
    color: #0c1014 !important;
    background-color: #599cab;
    border-radius: 0px !important;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.9em;
    white-space: nowrap;
}

.topic-tag-link:hover {
    background-color: #d3ebe9 !important;
}    
    
.topic-tag-action {
  border-radius: 0px !important;
  background-color: #99d1ce !important;
  padding: 4px !important;
  color: #0c1014 !important;
}
  
.topic-tag-action .add-topic-button, .topic-tag-action .remove-topic-button {
  border-radius: 0px !important;
}
  
.delete-topic-button {
  border-radius: 0px !important;
}
       
.text-green {
    color: #2aa889 !important;        
}    

.branch-action-icon {
    margin-left: -55px !important;
    border-radius: 0px !important;
}

.timeline-comment-avatar {
    margin-left: -55px !important;
    border-radius: 0px !important;
}    
 
.avatar {
    border-radius: 0px !important;        
}    

.post-merge-message {
    background-color: #0c1014 !important;
    border: 0 none !important;
    border-radius: 0 !important;
    padding: 15px;
}   

.header .header-search-scope {
    color: #0c1014 !important;
} 
    
.header-search-wrapper {
    background-color: #99d1ce !important;
    color: #0c1014 !important;
}   
    
.header-search-input {
    background-color: #0c1014 !important;
}     
    
.file-info {
    font-family: "Inconsolata",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
    font-size: 14px !important;
    line-height: 32px !important;;        
}
    
.file-actions {
    font-size: 14px !important;
}

.label, .Label {
    background-color: #599cab !important;
    color: #0c1014 !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 4px 4px;
}    
    
    
    
    
    
/****** end of NULL edits  ******/    
    
    
/* Now to widen github*/





.container {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* Repo Next layout */

.repository-content {
  width: 100% !important;
}

.repository-with-sidebar {
  padding-right: 60px !important;
}

.repository-with-sidebar .repository-sidebar {
  margin-right: -60px !important;
}

.summary-stats,
.authors-and-code {
  display: table;
  width: 100%;
}

.summary-stats li {
  width: 25%;
}

.authors-and-code .section {
  width: 50%;
}

/* Repo Next Code page */

.with-full-navigation {
  padding-right: 190px !important;
}

.with-full-navigation .repository-sidebar {
  margin-right: -190px !important;
}

/* Issues/PRs */

.discussion-sidebar {
  width: 220px !important;
}

.discussion-timeline {
  width: calc(100% - 240px) !important;
}

/* Fix #18 - props: @auscompgeek */
.file-header::after {
  clear: left !important;
}

/* New issues and Dashboard */

#dashboard,
.new-issue-form {
  position: relative !important;
}

.dashboard-sidebar,
.new-issue-form .discussion-sidebar {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

button.discussion-sidebar-toggle {
  width: 100% !important;
}

.timeline-new-comment {
  max-width: none !important;
}

/* Dashboard */
/* Note that this won't be needed if we actually flipped the DOM order around. */

.news {
  float: none !important;
  margin-right: 360px !important;
}

/* Settings */
/* This should be refactored to use our grid.scss styles anyway, thus negating these styles. */

.settings-content,
.repo-settings-content {
  float: none !important;
  width: auto !important;
  overflow: auto !important; /* required to clear the floats that the float avoided */
}
.container > .settings-content,
.repo-settings-content {
  margin-left: 260px !important;
}

#repo-settings .menu-container {
  width: 240px !important;
}

#js-flash-container .flash-messages {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* Profile page */

/* Profile avatar tooltip */
.vcard-avatar {
  width: 230px !important;
}

/* Commits: extended message under "..." */
.commit-desc pre {
  max-width: none;
}
 

}